<div id="bars-info-<%= beer_id %>"></div>
<div id="rec-map-<%= beer_id %>"></div>


<script>
  $(document).ready(function() {

    var geocoder = null;
    var map = null;
    var latLon = null;
    var bars = <%= raw ruby_bars.to_json %>;

    function init(startLoc) {
      var geocoder = new google.maps.Geocoder();
      var latlng = startLoc;
      var mapOptions = {
        zoom: 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      $("#rec-map-<%= beer_id %>").height(400);
      map = new google.maps.Map(document.getElementById("rec-map-<%= beer_id %>"), mapOptions);
    }

    function codeAddress(barLoc, info) {
      var address = barLoc;
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              info: info,
              position: results[0].geometry.location
          });
          var infowindow = new google.maps.InfoWindow();
          google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent('<p id="hook">' + this.info + '</p>');
            infowindow.open(map, this);
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }

    
    function returnLatLon(address1) {
      var address = address1;
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address1 }, function(results, status){ 
      if (status == google.maps.GeocoderStatus.OK) {
        latLon = results[0].geometry.location;
        init(latLon);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
      });

    };

    returnLatLon(String(<%= user_location %>));
    for (var i = 0; i < bars.length && i < 10; i++) {
      codeAddress(bars[i]['address'] + <%= user_location %>, bars[i]['name'] + '<br>' + bars[i]['address'] + '<br>' + bars[i]['phone']);
    }
    if (bars.length == 0) {
      $("#bars-info-<%= beer_id %>").append("<div> No bars found </div>");
    }
    $("bars-info-<%= beer_id %>").closest(".map-button").remove();


  });
</script>
    