<li class="group"> 
  <div class="beer-info-and-buttons group">
    <div class="saved-beer-info"> 
      <a href="http://beeradvocate.com/beer/profile/<%= saved_beer.brewery_id %>/<%= saved_beer.beer_id %>"> <%= saved_beer.beer_name %></a>
      by <%= saved_beer.brewery_name %>
    </div>
    <div class="button-container">
      <form action="<%= create_map_url %>" method="post"  data-remote="true" class="map-form" class="map-button">
        <input type="hidden" name="beer_name" value="<%= saved_beer.beer_name %>"  >
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="beer_id" value="<%= saved_beer.beer_id %>">
        <input type="submit" value="Map!" data-disable-with="Creating map...">
      </form>
      <form action="<%= savedbeer_url(saved_beer.id) %>" method="post" class="delete-saved-beer" data-remote="true">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method", value="delete">
        <input type="submit" value="unsave" data-disable-with="Unsaving...">
      </form>
      <% if !fav_beer_beer_ids.include? saved_beer.beer_id %>
        <%= render partial: 'users/fav_beer_button', locals: {beer: saved_beer, classname: "fav-save-beer"}%>
      <% end %>
    </div>
  </div>
  <div class="map-render"></div>
</li>