<div class="show">

  <h2> <%= @user.username %> </h2>
  <div class="friend-form-container"> 
  <% if @user != current_user %>
    <% if !@friend.empty? %>
     <%= render partial: 'unfollow_button', locals: {user: @user, current_user: current_user, friend: @friend} %>
    <% else %>
      <%= render partial: 'follow_button', locals: {user: @user, current_user: current_user} %>
    <% end %>
  <% end %>
  </div>

  <div class="stats group">
    <%= render partial: 'beer_stats', locals: {beerstyles_hash: @beerstyles_hash, beerabvs_array: @beerabvs_array} %>
  </div>

  <div class="favorited">
    <h3> Favorited Beers </h3>
    <div class='favorited-beers-list-container'>
      <ul>
        <% @user.favbeers.each do |favorited_beer| %>
        <li class="group"> 
          <div class="favorited-beer-info"> 
          <a href="http://beeradvocate.com/beer/profile/<%= favorited_beer.beerinfo.brewery_id %>/<%= favorited_beer.beerinfo.beer_id %>"> <%= favorited_beer.beerinfo.beer_name %></a>
          by <%= favorited_beer.beerinfo.brewery_name %>  
          </div>
          <div class="save-beer-form-container">
            <% if !@user.savedbeers.pluck("beer_id").include? favorited_beer.beer_id %>
              <form action="<%= savedbeers_url %>" method="post" data-remote="true" class="save-beer-form">
                <input type="hidden" name="savedbeers[beer_id]" value="<%= favorited_beer.beer_id %>">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="submit" value="Save Beer">
              </form>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @user != current_user %>
    <div class="commonality">
      <h3>Commonality</h3>
      <p>You have <%= @commonality.length %> beers in common out of <%= current_user.favbeers.length %> 
        with <%= @user.username %>.  <%= (@commonality.length/@user.favbeers.length.to_f * 100).round(2) if !@user.favbeers.empty? %> </p>
    </div>
  <% end %>

</div>

<script>

  $(document).ready(function(){
  
  // Using Rails UJS, bind an event listener to the form
  // Read more about UJS Ajax events here:
  // https://github.com/rails/jquery-ujs/wiki/ajax
  $(".friend-form-container").on("ajax:success", ".friend-form", function(event, data){
    
    // We want the data passed in to be a single rendered partial.
    // That way we can easily prepend it to the container tag.
    $(this).remove();
    $(".friend-form-container").prepend(data);
    
  });

  });

  $(document).ready(function(){
  
  // Using Rails UJS, bind an event listener to the form
  // Read more about UJS Ajax events here:
  // https://github.com/rails/jquery-ujs/wiki/ajax
  $(document).on("ajax:success", ".save-beer-form", function(event, data){
    
    // We want the data passed in to be a single rendered partial.
    // That way we can easily prepend it to the container tag.
    $(this).remove()

    });
  });
  

</script>