<!DOCTYPE html>
<html>
<head>
  <title>BeerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700,100italic,300italic,400italic|IM+Fell+Double+Pica:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIgzWjg4f6PVEvU5FwQiWXLT0hdnJUzAo&sensor=false">
  </script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Roboto:400,100,300' rel='stylesheet' type='text/css'>

</head>
<div class="bubble a"></div>
<div class="bubble b"></div>
<div class="bubble c"></div>
<div class="bubble d"></div>
<div class="bubble e"></div>
<div class="bubble f"></div>
<div class="bubble g"></div>
<div class="bubble h"></div>
<div class="bubble i"></div>
<body>
    <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
    <div class="header-container"> 
      <div class="header-top"></div>
      <%= render partial: "shared/header" %> 
    </div>
  <% else %>
    <%= render partial: "shared/pre-header" %>
  <% end %>
  <div class='container'>

    <div class="content">
      
      <%= yield %>
    </div>

    <div class="sidebar">
      <%= render partial: "shared/sidebar" %>
    </div>

  </div>

</body>
</html>

<script>


</script>